extends layout
block content
  if message && message.length != 0
    p= message
  if signedIn && signedIn.length != 0
    p= signedIn
  if error && error.length != 0
    .error
      p= error
  table
    thead
      tr
        th Idea
        th Creator
    tbody
      each idea in ideas
        tr
          td
            a.inline(href="/ideas/" + idea.id) #{idea.idea}
          td= idea.creator
  br
  a.logout(href="/users/logout") Logout